html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, select {
margin: 0;
padding: 0;
border: 0;

vertical-align: baseline;
}
ol, ul {
list-style: none;
}
.all{
width: 915px;
margin: 0 auto 40px;
background-color: white;
}
.all .wrap {
background-color: white;

}
.all .wrap .person-left {
float: left;
width: 175px;
}
.all .wrap .person-left .left-head {
color: #888;
padding: 15px 0 15px 15px;
height: 73px;
background: url();
}
.all .wrap .person-left .left-head img {
width: 60px;
height: 60px;
float: left;
}
.all .wrap .person-left .left-head span {
float: right;
margin: 10px 10px 0 4px;
width: 85px;
}
.all .wrap .person-left .left-head span strong {
color: #333;
display: block;
width: 85px;
font-size: 16px;
font-weight: 700;
line-height: 22px;
padding-bottom: 5px;
overflow: hidden;
white-space: nowrap;
-o-text-overflow: ellipsis;
-ms-text-overflow: ellipsis;
text-overflow: ellipsis;
}
.clear {
clear: both;
height: 0;
overflow: hidden;
display: block;
}
.g-clear {
zoom: 1;
}
.all .wrap .person-left ul {
margin: 10px 0;
padding-top: 10px;
border-top: 1px solid #F0F0F0;
}
.all .wrap .person-left ul li {
padding-top: 2px;
}
.all .wrap .person-left ul li a {
padding: 8px 18px;
display: block;
font-size: 14px;
color: #333;
}
.all .wrap .person-right {
width: 720px;
float: right;
}
.all .wrap .person-right .order-remind {
height: 103px;
display: block;
width: 802px;
border-left: 1px dashed #CCC;
background: url(../../img/v2/top-bg.png) -7px 0;
}
.all .wrap .person-right .order-remind .meta {
float: left;
color: #888;
font-size: 14px;
padding: 16px 0 0 20px;
width: 560px;
line-height: 20px;
}
.all .wrap .person-right .order-remind .meta h1 {
color: #888;
padding-bottom: 2px;
font-size: 24px;
font-weight: 400;
line-height: 30px;
}
.all .wrap .person-right .border-left {
border-left: 1px solid #FCDDDC;
padding: 20px 10px;
display: block;
min-height: 600px;
}
.order-list table {
width: 100%;
table-layout: fixed;
}
.order-list table th {
height: 34px;
background-color: #E1EFF9;
vertical-align: middle;
color: #1C55B5;
font-weight: 400;
font-size: 12px;
text-align:center;
}
.order-list table td {
vertical-align: top;
line-height: 20px;
text-align: center;
padding: 20px 0;
font-size: 12px;
color: #333;
background: url(../../img/v2/blue-border.png) 0 bottom repeat-x #F9F9F9;
}
.all .wrap .person-right2 {
width: 720px;
float: right;
}
.all .wrap .person-right2 .order-remind {
height: 103px;
display: block;
width: 802px;
border-left: 1px dashed #CCC;
background: url(../../img/v2/top-bg.png) -7px 0;
}
.all .wrap .person-right2 .order-remind .meta {
float: left;
color: #888;
font-size: 14px;
padding: 16px 0 0 20px;
width: 560px;
line-height: 20px;
}
.all .wrap .person-right2 .order-remind .meta h1 {
color: #888;
padding-bottom: 2px;
font-size: 24px;
font-weight: 400;
line-height: 30px;
}
.patients-list {
padding-bottom: 50px;
}
.patients-list-table {
width: 100%;
table-layout: fixed;
text-align: center;
}
.patients-list-table thead th {
height: 34px;
line-height: 34px;
color: #1c55b5;
font-weight: 400;
background-color: #e1eff9;
text-align: center;
}	
.patients-list-table tbody td a {
display: inline-block;
margin: 0 5px;
}
.all .wrap .person-right3 {
width: 720px;
float: right;
}
.all .wrap .person-right3 .order-remind {
height: 103px;
display: block;
width: 802px;
border-left: 1px dashed #CCC;
background: url(../../img/v2/top-bg.png) -7px 0;
}
.all .wrap .person-right3 .order-remind .meta {
float: left;
color: #888;
font-size: 14px;
padding: 16px 0 0 20px;
width: 560px;
line-height: 20px;
}
.all .wrap .person-right3 .order-remind .meta h1 {
color: #888;
padding-bottom: 2px;
font-size: 24px;
font-weight: 400;
line-height: 30px;
}

.sm{
	display: none;
	position: absolute;
	float: left;
	height: 25px;
	width: 150px;
	
}
