html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, select {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
vertical-align: baseline;
}
ol, ul {
list-style: none;
}
.all{
width: 980px;
margin: 0 auto 40px;
}
.all .wrap {
background-color: white;
border: 1px solid #CCC;
}
.all .wrap .person-left {
float: left;
width: 175px;
}
.all .wrap .person-left .left-head {
color: #888;
padding: 15px 0 15px 15px;
height: 73px;
background: url();
}
.all .wrap .person-left .left-head img {
width: 60px;
height: 60px;
float: left;
}
.all .wrap .person-left .left-head span {
float: right;
margin: 10px 10px 0 4px;
width: 85px;
}
.all .wrap .person-left .left-head span strong {
color: #333;
display: block;
width: 85px;
font-size: 16px;
font-weight: 700;
line-height: 22px;
padding-bottom: 5px;
overflow: hidden;
white-space: nowrap;
-o-text-overflow: ellipsis;
-ms-text-overflow: ellipsis;
text-overflow: ellipsis;
}
.clear {
clear: both;
height: 0;
overflow: hidden;
display: block;
}
.all .wrap .person-left .none-border {
border: none;
margin-top: 8px;
}
.all .wrap .person-left ul {
margin: 10px 0;
padding-top: 10px;
border-top: 1px solid #F0F0F0;
}
.all .wrap .person-left ul li {
padding-top: 2px;
}
.all .wrap .person-left ul li a {
padding: 8px 18px;
display: block;
font-size: 14px;
color: #333;
}
.all .wrap .person-right {
width: 803px;
float: right;
}
.all .wrap .person-right .order-remind {
height: 103px;
display: block;
width: 802px;
border-left: 1px dashed #CCC;
background: url() -7px 0;
}
.g-clear {
zoom: 1;
}
.all .wrap .person-right .border-left {
border-left: 1px solid #FCDDDC;
padding: 20px 10px;
display: block;
min-height: 600px;
}
.all .wrap .person-right .order-remind .meta {
float: left;
color: #888;
font-size: 14px;
padding: 16px 0 0 20px;
width: 560px;
line-height: 20px;
}
.all .wrap .person-right .order-remind .meta h1 {
color: #888;
padding-bottom: 2px;
}
h1 {
font-size: 24px;
font-weight: 400;
line-height: 30px;
}
.all .wrap .person-right .border-left {
border-left: 1px solid #FCDDDC;
padding: 20px 10px;
display: block;
min-height: 600px;
}
.order-list #orderFilter {
padding: 0 10px 25px;
}
input, select, textarea {
font-family: "Hiragino Sans GB","Microsoft YaHei","微软雅黑","宋体",Arial,Verdana,sans-serif;
color: #333;
}
.order-list #orderFilter .check, .gp-person .order-list #orderFilter .picker {
margin-right: 20px;
}
.g-left {
float: left;
}
.order-list #orderFilter label {
display: inline-block;
line-height: 30px;
padding-right: 4px;
vertical-align: top;
font-size: 14px;
}
select {
border: 1px solid #CCC;
font-size: 12px;
font-weight: 400;
line-height: 28px;
padding: 5px;
height: 30px;
}
.order-list table {
width: 100%;
table-layout: fixed;
}
.order-list #orderFilter .check, .gp-person .order-list #orderFilter .picker {
margin-right: 20px;
}
.g-datepicker {
position: relative;
display: inline-block;
}
.order-list #orderFilter .picker input {
width: 105px;
}
input.text {
border: 1px solid #CCC;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
font-size: 14px;
height: 20px;
line-height: 20px;
padding: 5px;
width: 240px;
font-family: "Hiragino Sans GB","Microsoft YaHei","微软雅黑","宋体",Arial,Verdana,sans-serif;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
background: #FFFFFE;
color: #333;
}
.g-datepicker .ui-datepicker-trigger {
cursor: pointer;
position: absolute;
top: 50%;
right: 5px;
height: 16px;
overflow: hidden;
width: 16px;
background: url(../../img/v2/icons-v2.png) 0 -108px no-repeat;
margin-top: -8px;
}
.gb-grey2 {
background-position: 0 -2986px;
padding-left: 5px;
}
.gb {
background: url(../../img/v2/button-v2.png) no-repeat;
text-decoration: none;
display: inline-block;
}
.gb-grey2 .gb-right {
background-position: right -3110px;
padding-right: 5px;
}
.gb .gb-right {
background: url(../../img/v2/button-v2.png) no-repeat;
display: inline-block;
cursor: pointer;
}
.gb-grey2 .gb-text {
background-position: 0 -3048px;
padding: 0 20px;
height: 31px;
line-height: 30px;
color: #333;
font-size: 14px;
}
.gb .gb-text {
background: url(../../img/v2/button-v2.png) repeat-x;
display: inline-block;
text-align: center;
cursor: pointer;
}
table {
border-collapse: collapse;
border-spacing: 0;
width: 100%;
}

/*管理*/

.patients-manage .patients-list {
padding-bottom: 50px;
}

.patients-list-table thead th {
height: 34px;
line-height: 34px;
color: #1c55b5;
font-weight: 400;
background-color: #e1eff9;
text-align: center;

}	

.patients-list-table {
width: 100%;
table-layout: fixed;
text-align: center;
}

.patients-list-table tbody td a {
display: inline-block;
margin: 0 5px;
}
